<mat-card>
  <mat-card-header>
    <h2>Forgot Password</h2>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="forgotpasswordform" (ngSubmit)="proceedForgotPassword()">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput #id formControlName="id" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Security Question</mat-label>
        <input matInput formControlName="securityquestion" type="text" [value]="securityquestion" [disabled]="true">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Security Answer</mat-label>
        <input matInput (click)="getSecurityQuestion(id)" formControlName="securityanswer" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" >
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary">Change Password</button>
        <a routerLink="/login" mat-raised-button color="accent">Login Back?</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
